@import "../../systelab-meters/sass/systelab-meters";

@font-face {
  font-family: 'digital-font';
  src: url('../../systelab-meters/assets/fonts/Segment7Standard.otf') format('opentype');
  font-style: normal;
}
