<div class="container-fluid">
    <div class="row mt-1">

        <div class="col-md-6 p-2 d-flex flex-column">
            <showcase-title [href]="'chart'">Radial Meter Chart</showcase-title>
            <systelab-radial-meter style="flex: 1;"
                                   [value]="10"
                                   [min]="0"
                                   [max]="20"
                                   [levels]="levels"
                                   [borderColor]="'#027bff'"
                                   [numberFormat]="'#.####'"></systelab-radial-meter>
        </div>
        <div class="col-md-6 p-2 d-flex flex-column">
            <showcase-title [href]="'chart'">Linear Meter Chart (horizontal)</showcase-title>
            <systelab-linear-meter style="flex: 1;"
                                   [isHorizontal]="true"
                                   [value]="-10"
                                   [min]="0"
                                   [max]="20"
                                   [borderColor]="'#027bff'"
                                   [numberFormat]="'#.####'"
                                   [levels]="levels"></systelab-linear-meter>
        </div>
        <div class="col-md-6 p-2 d-flex flex-column">
            <showcase-title [href]="'chart'">Linear Meter Chart (vertical)</showcase-title>
            <systelab-linear-meter style="flex: 1;"
                                   [isHorizontal]="false"
                                   [value]="6.6"
                                   [min]="0"
                                   [max]="20"
                                   [borderColor]="'#027bff'"
                                   [numberFormat]="'#.####'"
                                   [levels]="levels"></systelab-linear-meter>
        </div>
        <div class="col-md-6 p-2 d-flex flex-column">
            <showcase-title [href]="'chart'">Digital Meter Chart</showcase-title>
            <systelab-digital-meter style="flex: 1;"
                                    [value]="11"
                                    [borderColor]="'#027bff'"
                                    [numberFormat]="'#.####'"></systelab-digital-meter>
        </div>
    </div>
</div>
