<div class="container-fluid">
    <div class="row mt-1">

        <div class="col-md-6 p-2">
            <showcase-title [href]="'chart'">Radial Meter Chart</showcase-title>
            <systelab-meter #radialMeterChart [data]="radialDataChartMeterGadget"
                            [yMaxValue]="getVisualValue(radialChartGadgetConfiguration,radialDataChartMeterGadget, false)"
                            [yMinValue]="getVisualValue(radialChartGadgetConfiguration,radialDataChartMeterGadget)"
                            [type]="'radialMeter'"
                            [chartMeterConfiguration]="radialChartGadgetConfiguration"></systelab-meter>
        </div>
        <div class="col-md-6 p-2">
            <showcase-title [href]="'chart'">Linear Meter Chart (horizontal)</showcase-title>
            <systelab-meter #horizontalLinearMeterChart [data]="horizontalLinearDataChartMeterGadget"
                            [yMaxValue]="getVisualValue(horizontalLinearChartGadgetConfiguration,horizontalLinearDataChartMeterGadget, false)"
                            [yMinValue]="getVisualValue(horizontalLinearChartGadgetConfiguration,horizontalLinearDataChartMeterGadget)"
                            [type]="'linearMeter'" [isHorizontal]="true"
                            [chartMeterConfiguration]="horizontalLinearChartGadgetConfiguration"></systelab-meter>
        </div>
        <div class="col-md-6 p-2">
            <showcase-title [href]="'chart'">Linear Meter Chart (vertical)</showcase-title>
            <systelab-meter #verticalLinearMeterChart [data]="verticalLinearDataChartMeterGadget"
                            [yMaxValue]="getVisualValue(verticalLinearChartGadgetConfiguration,verticalLinearDataChartMeterGadget, false)"
                            [yMinValue]="getVisualValue(verticalLinearChartGadgetConfiguration,verticalLinearDataChartMeterGadget)"
                            [type]="'linearMeter'" [isHorizontal]="false"
                            [chartMeterConfiguration]="verticalLinearChartGadgetConfiguration"></systelab-meter>
        </div>
        <div class="col-md-6 p-2">
            <showcase-title [href]="'chart'">Digital Meter Chart</showcase-title>
            <systelab-meter #digitalMeterChart [data]="digitalDataChartMeterGadget"
                            [yMaxValue]="getVisualValue(digitalChartGadgetConfiguration,digitalDataChartMeterGadget, false)"
                            [yMinValue]="getVisualValue(digitalChartGadgetConfiguration,digitalDataChartMeterGadget)"
                            [type]="'digitalMeter'" [chartMeterConfiguration]="digitalChartGadgetConfiguration"
                            [isStacked]="isStacked"></systelab-meter>
        </div>

    </div>
</div>
